.filter {
	&__title {
		font-weight: 600;
		font-size: 16px;
		color: #363636;
		margin-top: 50px;
		margin-bottom: 10px;
	}

	&__search-bar {
		display: flex;
		align-items: center;
		width: 40%;
		background: #ffffff;
		border: 1px solid #eaeaea;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		padding: 0 13px;
	}

	&__input {
		width: 100%;
		padding: 13px 20px;
	}

	input {
		background-color: transparent;
		border: 0px solid;
		outline: none;
		font-weight: 400;
		font-size: 16px;
		color: #575757;
	}

	&__results {
		font-weight: 600;
		font-size: 18px;
		margin-top: 40px;
		color: #363636;
	}

	&__hr {
		margin-bottom: 45px;
		height: 1px;
		background-color: #c4c4c4;
		border: none;
	}
}
